<h1 class="">{{name}}:</h1>
<div class="" id="three"></div>
<script>var shape={{{shape}}}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
<script src="/OrbitControls.js"></script>
<script src="/model-viewer.js"></script>
